PORT = 3035
API_HOST=http://localhost:${PORT}

MONGO_HOST=**
MONGO_HOST_1=**
MONGO_HOST_2=**
MONGO_INITDB_DATABASE=****
MONGO_INITDB_ROOT_USERNAME=****
MONGO_INITDB_ROOT_PASSWORD=****
MONGO_ADMIN_PORT=****

# MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST},${MONGO_HOST_1},${MONGO_HOST_2}/${MONGO_INITDB_DATABASE}?replicaSet=rs0&authSource=admin
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}/${MONGO_INITDB_DATABASE}?authSource=admin

LOG_LEVEL=debug

JWT_SECRET=****
JWT_REFRESH_SECRET=****
AT_EXPIRE=60m
RT_EXPIRE=1d
PW_SECRET=****


REDIS_HOST=redis
REDIS_PORT=****
REDIS_PASSWORD=****
REDIS_PORT_GUI=****
REDIS_DB=0

SUPPORT_EMAIL=*****@gmail.com
SUPPORT_EMAIL_PW=*****
